{% extends 'base.html.twig' %}

{% block title %}Liste des Catégories{% endblock %}

{% block body %}
<div class="container">
    <h1 class="my-4">Nos Catégories</h1>
    
    <div class="row row-cols-1 row-cols-md-3 g-4">
        {% for category in categories %}
            <div class="col">
                <div class="card h-100">
                    <div class="card-body">
                        <h5 class="card-title">{{ category.name }}</h5>
                        <p class="card-text">
                            Livres dans cette catégorie :
                            {% for book in category.books %}
                                {{ book.title }}{% if not loop.last %}, {% endif %}
                            {% endfor %}
                        </p>
                    </div>
                    <div class="card-footer">
                        <a href="{{ path('category_detail', {id: category.id}) }}" class="btn btn-primary">Détails</a>
                    </div>
                </div>
            </div>
        {% else %}
            <div class="col-12">
                <div class="alert alert-info">Aucune catégorie trouvée.</div>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock %}